.password__form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

.password__field {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
}

.password__cancel {
  display: flex;
  justify-content: center;
}
